<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ClearingFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <ClearingFramework.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=192.168.1.108\MSX-1003, 1433; Initial Catalog=Clearing; User ID=sa; Password=Qwerty123456; MultipleActiveResultSets=True; App=EntityFramework&amp;quot;  persist security info=True;Integrated Security=false;</value>
      </setting>
    </ClearingFramework.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ClearingEntities" connectionString="metadata=res://*/dbBind.EF6Data.csdl|res://*/dbBind.EF6Data.ssdl|res://*/dbBind.EF6Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msx-1003;initial catalog=Clearing;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="demoEntities" connectionString="metadata=res://*/dbBind.pageData.csdl|res://*/dbBind.pageData.ssdl|res://*/dbBind.pageData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msx-1003;initial catalog=demo;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="demoEntities1" connectionString="metadata=res://*/dbBind.pageDatabase.page.csdl|res://*/dbBind.pageDatabase.page.ssdl|res://*/dbBind.pageDatabase.page.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msx-1003;initial catalog=demo;persist security info=True;user id=sa;password=Qwerty123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>